.dish {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}



.dish:hover {
  opacity: .4;
  border-radius: 1rem;
}

.dish div {
  flex: 1;
}

.dish p {
  font-style: italic;
  text-transform: capitalize;
  max-width: 80%;
}
.logo{
height: 30px;
width: 30px;
}

.containerBoton{
  height: 40px;
  width: 100px;
  border: 0px black;
}

@media (width >= 768px) {

  .dish {
    flex: 1;
  }
}


