

  .boton{
    height: 30px;
    width: 50px;
    border: 0px solid transparent;
    background-color: transparent;
  }
  .boton:hover{
    filter: drop-shadow(3px 3px 5px #faa43b);
  }

  .dashboard {
    margin-top: 100px;
  height: 80vh;
  width: 90vw;
  display: grid;
  grid-template-columns: 
  repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 30px;
  position: fixed;
  overflow: scroll;
  text-align: center;
  }
  .iimg{
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 0px solid transparent;
  }
  .fakeback{
    height: 100vh;
    width: 100vw;
    background-color:#00000041;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

  }
  .dashboard ul {
    padding: 2rem 0;
    flex: 1;
  }
 

  
  
  .img{
    height: 30px;
    width: 30px;
  }

  .orden {
    background-color: #423830;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .orden:hover {
    border: 1px solid white;
  }
  .orden p {
    font-style: italic;
    text-transform: capitalize;
    max-width: 80%;
  }
  .containerbotones{
    position: relative;
    display: flex;
    flex: row;
    gap: 15px;
  }

  .title{
    font-family: var(--font-3);
    color: rgb(255, 255, 255);
  }

  .dashboard::-webkit-scrollbar{
    background-color: rgba(0, 0, 0, 0.514);
    width: 5px;
    height: 5px;
    color: wheat;
  }