.stat {
  background-color: #423830;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

}
.aaaa{
  text-align: center;
}
.stat svg {
  padding: 1rem;
}

.container {
text-align: center;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 
  repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 30px;
  align-items: center;
  place-items: center;
  margin-bottom: 60px;
}

.title {
  font-family: var(--font-3);
}

